@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #808080;
    border-radius: 50px 50px;
    width: 55px;
    position: fixed;
    top: 20px;
    left: 20px;
    transition: 0.5s ease;
    z-index: 2;

}

nav {
    display: block !important;
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s ease;
}

header.active nav{
    max-height: 300px;
    overflow: visible;
}
nav a{
    position: relative;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav img{
    width: 25px;
    height: 25px;
}
nav button{
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: inherit;
    border: none;
    display: block;
    min-width: 100px;
    text-align: left;
    color:black;
}
nav span::before {
content: "";
position: absolute;
right: 0%;
top: 50%;
height: 90%;
transform: translateY(-50%);
display: block;
background-color: transparent;
width: 2px;
border-radius: 10px;
}
a.active span::before, nav a:hover span::before {
background-color: #ffd700;
}
a.active button,a:hover button{
    color: #ffd700;
}
a.active img,a:hover img{
    filter: invert(72%) sepia(85%) saturate(723%) hue-rotate(0deg) brightness(104%) contrast(103%);
}
.menu {
    width: 35px;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0;
}

.menu.active span:nth-child(1){
    transform: rotate(45deg);
}

.menu.active span:nth-child(3){
    transform: rotate(-45deg);
}

.menu.active span:nth-child(2){
    display: none;
}

.menu span:nth-child(1){
    top: 0;
    /* transform: rotate(45deg); */
}

.menu span:nth-child(3){
    bottom: 0%;
    /* transform: rotate(-45deg); */
}

.menu span:nth-child(2){
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.menu span {
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: white;
    border-radius: 3px;
}

.hero-image {
    /* background-image: url("image1-29-Edit.JPEG"); */
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-text {
    color: black;
    margin-bottom: 50px;
}

.hero-text>* {
    margin-bottom: 15px;
}

.profile-buttons a {
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: darkgray;
    text-decoration: none;
    border-radius: 25px;
    margin-right: 15px;
}

#navBar {
    display: flex;
    justify-content: right;

}

#test {

    display: flex;

}

#hey {
    /* background-image: url('image1-29-Edit.JPEG'); */
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.main-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    background-color: rgb(151, 143, 143);
}

.hero-image {
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 80%;
    height: auto;
    display: block;
    object-fit: contain;
}

.hero-text {
    text-align: left;
}

.about-me {
    padding: 70px 20px;
}

.about-me h2 , .portfolio h2, .ContactMe h2{
    font-size: 50px;
    font-weight: 900px;
    color: #555;
    text-align: center;
}

.about-me h2 span, .portfolio h2 span, .ContactMe h2 span{
    color: #ffd700;
}

.description {
    margin-top: 20px;
    text-align: center;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.description::after,
.description::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 35px;
    background-color: gold;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

.description::after {
    left: -50px;
}

.description::before {
    right: -50px;
}
.about-me-grid {
    display: grid;
    grid-template-columns: 48% 48%;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 30px;
}

.image-frame {
    overflow: visible;
    position: relative;
    border: 5px solid gold;
}
.image-frame img {
    width: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
    left: -30px;
    top: -30px;
    border: 1px solid grey;
}

ul {
    list-style:none;
margin-bottom: 20px;
}

li {
    margin-bottom: 12px;
color: #808080;
}
li span {
    font-weight: bold;
    color: black;
    margin-left: 12px;
}
#bio, #skills {
    text-align: left;
    font-size: 25px;
    margin-bottom: 10px;
}
#skills {
margin-top: 35px;
}
.skills{
    padding-top: 20px;

}
.skills bdi {
position: absolute;
top: 25px;
left: 0%;
}
.skills li {
    position: relative;
    overflow: visible;
    padding-top: 50px;
    border-bottom: 2.5px solid #f5f5f5;
}
.skills li span{
    position:absolute;
    bottom: 5px;
    width: 65px;
    height: 43px;
    border-radius: 5px;
    border: 1.5px solid gold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gold;

}
.skills li span::before {
    content: "";
    display: block;
    position:absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid gold;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: none;
    width: 5px;
    height: 5px;
}
.html span {
    left: 75%;
}
.css span {
    left: 65%
}
.javascript span{
    left: 60%;
}
.mysql span{
left: 70%;
}
.nodejs span{
    left: 65%;
}
.react span{
    left: 70%;
}
.skills li::before{
    content: "";
    bottom: 0;
    left: 0;
    border-bottom: 1.5px solid gold;
    display: block;
}
.html::before {
    width: 80%;

}
.css::before {
    width:70%;
}
.javascript::before{
    width: 65%;
}
.mysql::before{
    width: 75%;
}
.nodejs::before{
    width: 70%;
}
.react::before{
    width: 80%;
}
.p-grid {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(3, calc(93% / 3));
    justify-content: space-between;
row-gap: 25px;
}
.work{
    position: relative;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}
.work img{
    position: absolute;
top:0%;
left:0%;
width: 100%;
object-fit: cover;
}
.work a {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 217, 0, 0.874);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition:0.3s ease;
}
.work:hover a{
    opacity: 1;
}
.contact-2 {
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
}
.c-left{
    width: 30%;
    padding-top: 35px;
}
.c-right{
    width: 70%;
    padding-top: 35px;
}
.contact-2 a{
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
    text-decoration: none;
    color: #909090;
    font-size: 15px;
}
.contact-2 img{
    width: 20px;
    height: 20px;
    filter: invert(80%) sepia(47%) saturate(2884%) hue-rotate(0deg) brightness(110%) contrast(105%);
}
.contact-2 form{
    padding-top: 20px;
}
.contact-2 form > div{
    margin-bottom: 25px;
}
.contact-2 input, .contact-2 textarea{
    border: 1px solid #909090;
    padding: 10px;
    border-radius: 25px;
}
textarea{
    width: 100%;
    height: 100px;
}
.i-2 {
    display: flex;
    justify-content: space-between;
}
.i-2 > * {
    width: calc(95% / 2);
}
.submit{
    padding: 10px 25px;
    color: white;
    display: inline-flex;
    cursor: pointer;
    gap: 10px;
    align-items: center;
    background-color: #ffd700;
    border: none;
    border-radius: 25px;
}
.submit img{
    width: 15px;
    height: 15px;
    display: block;
    filter: invert(100%) sepia(0%) saturate(421%) hue-rotate(236deg) brightness(108%) contrast(101%);
}
.gold{
    color: #ffd700;
}
.ContactMe {
    padding-bottom: 50px;
}